
$navbar-height: 100px;
$outer-padding: 2rem;



$black: #0F171F;
$dark-grey: #B8C0C7;
$grey: #F0F1F3;
$white: #ffffff;
$light-blue: #95acef;
$primary-blue: #4771F8;
$dark-blue: #0D34C0;
$cyan: #00E6C0;

$blur-background: #0F171F;
