@import "../../styles/_variables.scss";

.container {
  margin-top: $navbar-height;
  padding-left: $outer-padding;
  padding-right: $outer-padding;
  padding-top: 2rem;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
