@import "../../../styles/variables";

.card-container {
  display: flex;
  flex-direction: column;
  max-width: 275px;
  overflow: hidden;
  box-shadow: 00px 1px 9px -4px$dark-grey;
  -webkit-box-shadow: 0px 1px 9px -4px $dark-grey;
  -moz-box-shadow: 0px 1px 9px -4px $dark-grey;

  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 2px 16px 0 $dark-grey;
    transform: translateY(-10px);
  }

  .card-image {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 0;
    padding-top: 56.25%;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex: 1;
    min-height: 230px;

    h3 {
      font-size: 14px;
      margin-bottom: 0.75rem;
    }

    p {
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      margin-bottom: 1.5rem;
    }

    .button-container {
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
